{% extends "base.html" %}
{% block title %} 
  修改课程信息
{% end %}
{% block js %}

{% end %} 

{% block label2 %}
<li><div style="text-align:center">
    <object>
      <param name="movie" value="/static/home.swf"/>
      <param name="quality" value="high"/>
      <param name="wmode"value="transparent"/>
    <embed src="/static/home.swf"  ></embed></object>
    </div></li>
{% end %}

{% block content %}
	<div style="text-align:center;">
    <object >
      <param name="movie" value="/static/stulist.swf"/>
      <param name="quality" value="high"/>
      <param name="wmode"value="transparent"/>
    <embed src="/static/stulist.swf"  ></embed></object>
    </div>
	<hr/>
	<form action="/stuedit/{{student['stu_sn']}}" method="post">
    学号：&nbsp;&nbsp;<input type="text" name="stu_id" value="{{student['stu_id']}}"  style="background-color:transparent"><br>
    姓名：&nbsp;&nbsp;<input type="text" name="name" value="{{student['name']}}"  style="background-color:transparent"><br>
    出生日期：<input type="text" name="stu_bir" value="{{student['stu_bir']}}"  style="background-color:transparent"><br>
    班级：&nbsp;&nbsp;<input type="text" name="stu_no" value="{{student['stu_no']}}"  style="background-color:transparent"><br>
    性别：&nbsp;&nbsp;<input type="text" name="gda" value="{{student['gda']}}" style="background-color:transparent">
    <input type="submit" value="提交">
    </form>
{% end %}
